absl-py==0.10.0
aiohttp==3.6.2
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.10
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
backcall==0.1.0
beautifulsoup4==4.8.2
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.1
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
gast==0.3.3
gevent==20.9.0
google-auth==1.22.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.17
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
imagecleaner==0.4.4
importlib-metadata==1.6.0
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
joblib==0.17.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
multidict==4.7.6
MyApplication==0.1.0
nltk==3.5
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
parso==0.6.1
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow>=7.1.0
prompt-toolkit==3.0.3
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.5.2
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.6
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
selenium==3.141.0
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
soupsieve==1.9.5
sqlparse==0.3.1
stevedore==1.32.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
toml==0.10.1
tqdm==4.50.0
traitlets==4.3.3
transformers==3.3.1
tweepy==3.9.0
urllib3==1.25.10
virtualenv==20.0.4
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.8
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
xgboost==1.2.0
yarl==1.6.0
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.1.2
