<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <div class="card">
        <h1>MTBI Personality Classifier</h1>
        <div>
            <div class="main_line">
                Insert tweet id below
            </div>
            <form method="post">
                <input class="textboxid" type="text" id="fname" name="fname"><br><br>

                <button type="submit" name="button" class="button">submit</button>
            </form>
        </div>
    </div>
</html>