<!DOCTYPE html>
<html lang="en">
<head>
    <title>MBTI Text Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="bg">
<div class="navbar navbar-static-top">
    <ul class="nav navbar-nav">
        <li><h2><a href="{{ url_for('index') }}" id="navvy">MBTI Personality Classifier</a></h2></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('about') }}" style="margin-right:25px;font-size:18px;">About</a></li>
    </ul>
</div>

<div class="container-fluid">
    <p>This classifier takes an input of link to a twitter user and uses machine learning to match it to an MBTI
        personality type.</p>
</div>
<br>

<div class="container">
    <form action="/predict" method="post" class="jumbotron" id="jbg">
        <div class="form-group blue-border-focus">
            <label><b>Link</b></label>
            <input name="link" type="text" class="form-control" placeholder="ex. https://twitter.com/neiltyson">
            <small class="form-text">Paste a link to a user on Twitter.</small>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<br>

<div class="navbar navbar-fixed-bottom" id="footer">
    <p id="footer">
        Created by
        <a href="https://github.com/nredick">Nathalie</a>,
        <a href="https://github.com/elinorpd">Elinor</a>, &
        <a href="https://github.com/abubakardaud">Abu</a>. October 2020.
    </p>
</div>
</body>
</html>

